.discord_btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #ffffff;
  border: double 4px #ffffff;
  border-radius: 2px;
  transition: .4s;
  width: 250px;
  height: 50px;
  background-color: #111;
}
.discord_btn:hover {
  transform: rotateX(360deg);
  color: #7289da;
}
.steam_btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #ffffff;
  border: double 4px #ffffff;
  border-radius: 2px;
  transition: .4s;
  width: 250px;
  height: 50px;
  background-color: #111;
}
.steam_btn:hover {
  transform: rotateX(360deg);
  color: #2a475e;
}
.rblx_btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #ffffff;
  border: double 4px #ffffff;
  border-radius: 2px;
  transition: .4s;
  width: 250px;
  height: 50px;
  background-color: #111;
}
.rblx_btn:hover {
  transform: rotateX(360deg);
  color: #ff0000;
}

img {
  border-radius: 50%;
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 45px;
    font-family: monospace;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #9548c2, #0099ff , #ff0000, #ff3399, #7474ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 3s ease-in-out infinite;
    background-size: 200% 100%;
    font-size: 55px;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
.shine {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.glowtext{
  text-shadow: 0px 0px 10px rgba(255,0,0,0.9);
}

.border-white{
  /*border white with light shadow*/
  text-shadow: 
     1px  1px     #fff, 
    -1px  1px     #fff, 
     1px -1px     #fff, 
    -1px -1px     #fff,
     1px  1px 5px #555;
}

p{
  width: 70%;
  font-size: 30px;
  display: block;
  text-align: center;
}

.char{
  font-size: 30px;
  height: 40px;
  animation: an 1s ease-out 1 both;
  display: inline-block;
}

@keyframes an{
  from{
      opacity: 0;
      transform: perspective(500px) translate3d(0px, -40px, 0px) rotate3d(0, -1, 0, 35deg);
  }
  to{
      opacity: 1;
      transform: perspective(500px) translate3d(0, 0, 0);
  }
}
.text_mini{
  font-size: 10px;
  opacity: 0.5;
}
